# Python Basics

Python is a widely-used high-level programming language known for its readability and simplicity. Its clean syntax and powerful libraries make it an excellent choice for both beginners and experienced programmers. In this notebook, we will explore some fundamental concepts and basic syntax of Python programming.

## Syntax
Python uses indentation to define the structure of the code. This means that the code's readability is maintained, and logical blocks of code are visually separated.

## Comment

In [1]:
# This is a single-line comment

"""
This is a multi-line comment
"""
# Print statement
print("Hello, World!")

Hello, World!

##Variables and Data Types
Variables are used to store data that can be used later in the program. Python is dynamically typed, meaning you don't need to declare a variable's type explicitly.

Certainly! Hereâ€™s a description of the rules for declaring variables and their syntax in Python without code examples:

### **Rules for Declaring Variables in Python**

1. **Variable Names Must Start with a Letter or Underscore:**
   - A variable name must begin with a letter (either uppercase or lowercase) or an underscore. It cannot start with a number.

2. **Variable Names Can Include Letters, Digits, and Underscores:**
   - After the initial character, variable names can include letters, digits, and underscores.

3. **Variable Names Are Case-Sensitive:**
   - Variable names are case-sensitive, meaning that `variable`, `Variable`, and `VARIABLE` are considered different variables.

4. **Avoid Using Reserved Words:**
   - Python has reserved keywords that cannot be used as variable names. These include common programming terms such as `if`, `else`, `while`, `for`, `class`, etc.

5. **Variable Names Should Be Descriptive:**
   - It's best to use meaningful and descriptive names for variables to make your code more understandable and maintainable.

6. **Variable Names Should Not Include Special Characters:**
   - Special characters such as `@`, `#`, `$`, or spaces are not allowed in variable names.

### **Syntax for Declaring Variables**

- **Variable Declaration:**
  Declaring a variable in Python involves assigning a value to a name. You specify the variable name followed by an equal sign (`=`), and then the value you want to assign to that variable.

In [2]:
# Variables
x = 5
y = 3.14
name = "Hiyaa"

# Data types
print(type(x))  # int
print(type(y))  # float
print(type(name))  # str

<class 'int'>
<class 'float'>
<class 'str'>

- **Boolean Variables:**
  `is_active` is set to `True` and `is_completed` is set to `False`. In Python, `True` and `False` are Boolean literals.

In [3]:
# Boolean Variables
is_active = True
is_completed = False

# Print Boolean values
print("Is Active:", is_active)
print("Is Completed:", is_completed)

Is Active: True
Is Completed: False

## Operators

### Arithmetic

In [4]:
a = 10
b = 20

print("Arithmetic Operators:")
print("Addition:", a + b)          # Addition
print("Subtraction:", a - b)       # Subtraction
print("Multiplication:", a * b)   # Multiplication
print("Division:", a / b)         # Division
print("Floor Division:", a // b)  # Floor Division
print("Modulus:", a % b)          # Modulus
print("Exponentiation:", a ** 2)  # Exponentiation

Arithmetic Operators:
Addition: 30
Subtraction: -10
Multiplication: 200
Division: 0.5
Floor Division: 0
Modulus: 10
Exponentiation: 100

### comparison

In [5]:
a = 10
b = 20

print("\nComparison Operators:")
print("Equal to:", a == b)         # Equal to
print("Not equal to:", a != b)    # Not equal to
print("Greater than:", a > b)     # Greater than
print("Less than:", a < b)        # Less than
print("Greater than or equal to:", a >= b)  # Greater than or equal to
print("Less than or equal to:", a <= b)     # Less than or equal to

Comparison Operators:
Equal to: False
Not equal to: True
Greater than: False
Less than: True
Greater than or equal to: False
Less than or equal to: True

### Logical

In [6]:
x = True
y = False

print("\nLogical Operators:")
print("AND:", x and y)            # Logical AND
print("OR:", x or y)              # Logical OR
print("NOT:", not x)              # Logical NOT

Logical Operators:
AND: False
OR: True
NOT: False

### Assignment

In [7]:
c = 5

print("\nAssignment Operators:")
c += 2  # Equivalent to c = c + 2
print("Addition Assignment (c += 2):", c)
c -= 2  # Equivalent to c = c - 2
print("Subtraction Assignment (c -= 2):", c)
c *= 2  # Equivalent to c = c * 2
print("Multiplication Assignment (c *= 2):", c)
c /= 2  # Equivalent to c = c / 2
print("Division Assignment (c /= 2):", c)
c //= 2 # Equivalent to c = c // 2
print("Floor Division Assignment (c //= 2):", c)
c %= 2  # Equivalent to c = c % 2
print("Modulus Assignment (c %= 2):", c)
c **= 2 # Equivalent to c = c ** 2
print("Exponentiation Assignment (c **= 2):", c)

Assignment Operators:
Addition Assignment (c += 2): 7
Subtraction Assignment (c -= 2): 5
Multiplication Assignment (c *= 2): 10
Division Assignment (c /= 2): 5.0
Floor Division Assignment (c //= 2): 2.0
Modulus Assignment (c %= 2): 0.0
Exponentiation Assignment (c **= 2): 0.0

### Bitwise

In [8]:
p = 5  # Binary: 0101
q = 3  # Binary: 0011

print("\nBitwise Operators:")
print("AND:", p & q)              # Bitwise AND
print("OR:", p | q)               # Bitwise OR
print("XOR:", p ^ q)              # Bitwise XOR
print("NOT:", ~p)                 # Bitwise NOT
print("Left Shift:", p << 1)     # Left Shift
print("Right Shift:", p >> 1)    # Right Shift

Bitwise Operators:
AND: 1
OR: 7
XOR: 6
NOT: -6
Left Shift: 10
Right Shift: 2

## Input

### Integer

In [9]:
age = int(input("Enter your age: "))
print("Your age is:", age)

Enter your age: 20
Your age is: 20

### temperature

In [10]:
temperature = float(input("Enter the temperature in Celsius: "))
print("The temperature is:", temperature)

Enter the temperature in Celsius: 39.6
The temperature is: 39.6

### String

In [11]:
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: Sneha
Hello, Sneha

### boolean

In [12]:
response = input("Are you a student? (yes/no): ").lower()
is_student = response == 'yes'
print("Is the user a student?", is_student)

Are you a student? (yes/no): yes
Is the user a student? True

### multiple inputs

In [13]:
name, age = input("Enter your name and age separated by a comma: ").split(',')
age = int(age)
print("Name:", name.strip())
print("Age:", age)

Enter your name and age separated by a comma: Sneha, 20
Name: Sneha
Age: 20

### list input

In [14]:
input_list = input("Enter a list of numbers separated by commas: ")
numbers = [int(num) for num in input_list.split(',')]
print("The list of numbers is:", numbers)

Enter a list of numbers separated by commas: 1,4,8,3,6,9,2,4,6,8
The list of numbers is: [1, 4, 8, 3, 6, 9, 2, 4, 6, 8]